Cython==0.29.23
#torch==1.9.0
matplotlib==3.3.3
einops==0.3.0
inflect==5.0.2
Unidecode==1.1.2
librosa==0.8.0
scipy==1.5.4
Pillow==9.5.0
tqdm
tensorboard==2.11.2
cmake
pyopenjtalk==0.3.0
jamo
ko_pron
g2pk2
pypinyin
jieba
cn2an
eng_to_ipa
phonemizer
monotonic_align
absl-py==1.0.0
certifi==2022.5.18.1
numpy==1.23.0
